<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Update User</title>
</head>
<body>
    <div class="container">
        
            <div class="header d-flex justify-content-between">
                <div class="header_title" >
                    
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p>{{message}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} 
                </div>
                <div class="header_welcome d-flex justify-content-between">
                    <h4><a href="/add_new_magazine">Add Magazine</a> | <a href="/success">Dashboard</a> | <a href="/logout"><button class="btn btn-outline-info">Logout</button></a>
                </div>
            </div>
            <div class="d-flex justify-content-around">
                <div class="d-flex flex-column justify-content-around">
                    <h1>Update User</h1>
                    <form action="/submit_edits" method="POST">
                        <div class="row mb-3">
                            <label for="name">First Name:</label>
                            <div class="col-sm-10">
                                <input type="text" name="first_name" id='name' value="{{ magazine[0]['first_name'] }}">
                            </div>
                        </div>
                    <div class="row mb-3">
                        <label for="name">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" name="last_name" id='name' value="{{ magazine[0]['last_name'] }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="name">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" name="email" id='name' value="{{ magazine[0]['email'] }}">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-outline-primary" value="Update">
                </form>
            </div>
            <div class="magazines">
                <h2>User's Magazines</h2>
                {% for mags in magazine %}
                    <li>{{mags['title']}} <a href="/delete/{{mags['magazines.id']}}">delete</a></li>
                    {% for subs in subscribers %}
                        {% if subs['magazine_id'] == mags['magazines.id'] %}
                            <p>Number of sunbcribers: {{subs['num_subs']}}</p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            </div>
            
        
    </div>
</body>
</html>